.env_old
version
tmp/*
tmp
*.ipynb
venv_old/
venv_old/*
venv/
venv
venv/*
venv_*/
fab2/
.DS_Store
.vscode
.webassets-cache
fab/
app/static/bundle.*
konv/*
app/data/*
nginx_ssl/*
.ropeproject
drafts.py.txt
*.sql
#*.sh
*.swp
*.pid
.env
env_share
.envkonv
lab_*
proxy*
app/tmp/
app/templates/
app/static/bills/*
migrations/
results/
fabbile.py
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*private_key
.idea
# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

drafts.py.txt

*.cer
version.txt
services/web/history_dump.json
services/web/project/parser/temp/history_dump_set_la.json
services/web/project/parser/temp
services/web/project/parser/temp/history_dump_set_mia.json
